/* styles.css */
@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?40730274');
    src: url('./font/fontello.eot?40730274#iefix') format('embedded-opentype'),
         url('./font/fontello.woff?40730274') format('woff'),
         url('./font/fontello.ttf?40730274') format('truetype'),
         url('./font/fontello.svg?40730274#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    font-size: 2em;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #161b19;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    margin-top: 50px;
    width: 1300px;
    padding: 20px;
    background-color: #1e2423;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    transition: box-shadow 0.3s ease;
}

.d-flex {
    display: flex;
}

.container:hover {
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: #1dd79b;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    color: #6e6e73;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #5d6e6b;
    border-radius: 8px;
    font-size: 16px;
    color: #c7c3c3;
    background-color: #1e2423;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007aff;
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: #504e4e;
    background-color: #1dd79b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #3f3f41;
}

button:active {
    transform: scale(0.98);
}

#subnet-inputs-container {
    margin-top: 20px;
}

.subnet-input-group {
    margin-bottom: 15px;
}

/* History section styling */
.history {
    /* width: 300px; */
    /* border-left: 1px solid #ddd; */
    padding-left: 20px;
}

.history h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.history-entry {
    width: 100%;
    margin: 30px 0;
    padding: 15px;
    background-color: #1c1c1e;
    /* Dark background similar to the image */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    color: #d1d1d6;
}

.history-label {
    padding: 12px;
    text-align: left;
    font-weight: 500;
    color: #828282;
    /* Light gray for labels */
    border-bottom: 1px solid #2e2e32;
}

.history-value {
    padding: 12px;
    text-align: center;
    font-weight: 600;
    color: #48e1a7;
    /* Light green color for values */
    border-bottom: 1px solid #2e2e32;
}

.history-table tr:last-child .history-label,
.history-table tr:last-child .history-value {
    border-bottom: none;
    /* Remove border from last row */
}

.success-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.result-history-item {
    border: 1px solid #ccc !important;
    border-radius: 16px;
    padding: 15px;
    margin: 8px 10px;
}

.main-result {
    flex: 40%;
}

.history-result {
    flex: 60%;
}

#history-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sidebar styling */
.Sidebar {
    width: 100%;
    /* Width of the sidebar */
    background-color: #333;
    /* Dark background color */
    color: white;
    /* Text color */
    position: fixed;
    /* Fixed position on the left side */
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sidebar content */
.sidebar-content h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

.sidebar-content nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: center;
    display: flex;
}

.sidebar-content nav ul li {
    margin: 10px 0;
}

.sidebar-content nav ul li a {
    color: #ddd;
    /* Lighter color for links */
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

/* Hover effect for links */
.sidebar-content nav ul li a:hover {
    background-color: #444;
    color: #fff;
}



/* Hero section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;

}

.hero h1 {
    font-size: 3rem;
    color: #fff;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.hero button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero button:hover {
    background-color: #4CAF50;
    color: #fff;
}

.hero-text span{
    padding: 10px 20px;
    background-color: #27b32b2c;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    transition: all 0.3s ease;
    cursor: pointer;
}

.wallpaper img {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    opacity: 0.4;
    border-radius: 10px;
}


@media only screen and (max-width: 1300px) {
    .container {
        width: 90%;
    }

    .d-flex {
        flex-direction: column;
    }

    .history {
        padding-left: 0;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 920px) {
    .wallpaper img{
        width: 90%;
        background-size: cover;
    }
}